absl-py==0.9.0
astor==0.8.1
click==7.1.2
cycler==0.10.0
decorator==4.4.2
dill==0.3.2
Flask==1.1.2
gast==0.3.3
google-pasta==0.2.0
grpcio==1.30.0
h5py==2.10.0
imageio==2.9.0
importlib-metadata==1.7.0
itsdangerous==1.1.0
Jinja2==2.11.2
Keras==2.2.4
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.2.0
klepto==0.1.9
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.0
mrcnn==0.2
networkx==2.4
numpy==1.19.1
opencv-python==4.2.0.34
Pillow==7.2.0
pox==0.2.8
protobuf==3.12.2
pykakasi==2.0.1
pyparsing==2.4.7
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.4
scikit-image==0.17.2
scipy==1.5.2
six==1.15.0
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0
termcolor==1.1.0
tifffile==2020.7.24
Werkzeug==1.0.1
wrapt==1.12.1
zipp==3.1.0
